h1,h2{
    display: flex;
    justify-content: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn{
    height: 200px;
    width: 200px;
    border: 7px solid black;
    border-radius: 20%;
    margin: 14px;
}

.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99645;
}
.green{
    background-color: #63aaC0;
}
.purple{
    background-color: #819ff9;
}
